body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.btn {
    padding: .375rem 1.75rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 45px !important;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 38px !important;
    }
    .form-control {
        display: block;
        width: 100%;
        min-height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}

.form-control {
    border: 2px solid #353131f7;
}