* {
    margin: 0;
    padding: 0;
}


/* header */

.header {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.social {
    float: left;
}

.social ul {
    list-style-type: none;
    padding: 11px 50px;
}

.social ul li {
    display: inline-block;
    padding: 0px 6px;
}

.social a {
    color: white;
}

.contact {
    float: right;
}

.contact ul {
    list-style-type: none;
    padding: 11px 50px;
}

.contact ul li {
    padding: 0 5px;
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.contact i {
    padding: 0 5px;
    font-size: 17px;
}

.logo {
    padding: 20px 50px;
    float: left;
    display: inline-block;
}

.menu {
    float: left;
    padding: 36px 18px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #7400ff;
    padding: 0 13px;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    color: violet;
}

.srch {
    padding: 31px 50px;
    float: left;
}

input[type=search] {
    height: 22px;
    border-radius: 10px;
    border: none;
    border: 2px solid #7400ff;
    padding: 12px 8px;
    font-family: sans-serif;
    outline: none;
}

.srch i {
    padding: 0px 3px;
    color: #7400ff;
}


/* ----   about --------- */

.main {
    position: relative;
    overflow: auto;
    width: 100%;
    background-image: url(../salon/about-us-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    margin-bottom: 100px;
}

.overlayblack {
    background: #00000061;
    width: 100%;
    height: 100%;
    z-index: -1;
}

div h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 70px;
    color: white;
    text-transform: capitalize;
    margin: 0px 0px 20px 0px;
}

div .submain {
    margin: 0 136px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    padding: 180px 0 120px;
}

.submain p {
    color: #ffffffb8;
    padding: 0 210px;
}


/* about */

.ab1 {
    position: relative;
    overflow: auto;
    margin-bottom: 50px;
}

.ov {
    width: 80%;
    margin: auto;
}

.ovimg {
    float: left;
    width: 40%;
}

.ovrvsn {
    width: 42%;
    float: left;
    margin-left: 150px;
    margin-top: 10px;
}

.ovrvsn h2 {
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 25px;
}

.ovrvsn p {
    font-family: sans-serif;
    font-size: 14px;
    color: gray;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.ovbtn {
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background: #7400ff;
    padding: 15px 36px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

.ab2 {
    position: relative;
    overflow: auto;
    padding: 125px 0;
    background-color: #7400ff0d;
}

.sbp {
    width: 90%;
    margin: auto;
}

.sbpimg {
    float: left;
    width: 50%;
}

.sbpt {
    width: 48%;
    float: left;
    margin: 10px 0 25px 20px;
}

.lipstick {
    width: 22%;
    float: left;
    line-height: 1.8;
    margin-left: 20px;
}

.nail {
    width: 22%;
    float: left;
    line-height: 1.8;
}

.ab3 {
    position: relative;
    overflow: auto;
    padding: 100px 0;
}

.lmab {
    width: 90%;
    margin: auto;
}

.abimg {
    width: 50%;
    float: left;
    padding: 20px;
}

.lmt {
    width: 40%;
    float: left;
    padding: 20px;
}

.heading {
    font-family: sans-serif;
    font-size: 45px;
    letter-spacing: 4px;
    margin: 60px 0px 20px 0;
}

.sublmt p {
    font-size: 14px;
    font-family: sans-serif;
    color: gray;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.lmtbtn {
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background: #7400ff;
    padding: 15px 36px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}


/* end */


/* footer */

.footer {
    position: relative;
    overflow: auto;
    background-color: #000000d6;
}

.cntus {
    width: 40%;
    text-align: center;
    margin: 25px 0px 40px 0px;
    float: left;
}

.cntus p {
    font-family: sans-serif;
    font-size: 32px;
    margin: 0px 0px 20px 8px;
    color: white;
}

.cntus ul {
    list-style-type: none;
}

.cntus ul li {
    display: inline-block;
    font-size: 30px;
    padding: 0 5px;
}

.fb {
    color: #3B5999;
}

.tw {
    color: #007bff;
}

.pnt {
    color: #BD081C;
}

.insta {
    color: #E4405F;
}

.contactus {
    width: 40%;
    text-align: center;
    margin: 25px 0px 40px 0px;
    float: left;
    padding-left: 122px;
}

.contactus p {
    font-family: sans-serif;
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
}

.contactus span {
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.5;
}